body {
    background-color:chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: rgba(255, 255, 255, 0.70);
    padding: 15px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    box-shadow: 1px 1px 5px black ;
}

.buttons {
    display: flex;
    justify-content: center;
}